<% if current_user.admin? %>
<p id="notice"><%= notice %></p>

<div class="w3-row w3-center w3-border w3-border-dark-grey">
  <div id="Pizza" class="w3-container menu w3-padding-32 w3-sand">
<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Booking date</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.booking_date %></td>
        <td><%= booking.user.email %></td>
        <td><%= booking.status %></td>
        <td><%= link_to 'Show', booking, :class => "button", :role => "button" %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking), :class => "button", :role => "button" %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path, :class => "button", :role => "button" %>
  </div>
</div>

<% else %>
<div class="w3-row w3-center w3-border w3-border-dark-grey">
  <div id="Pizza" class="w3-container menu w3-padding-32 w3-sand">
<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Booking date</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.booking_date %></td>
        <td><%= booking.user.email %></td>
        <td><%= booking.status %></td>
        <td><%= link_to 'Show', booking, :class => "button", :role => "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 </div>
</div>
<% end %>

  
 
  
 